:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd ;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400 ;
}
body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;  
}
.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0.3rem !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
  

}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding-top: 60px; /* Space from the top */
  flex-wrap: wrap;
}

.login-form {
  flex: 1;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  min-width: 200px; /* Adjust width as needed */
}

.login-input {
  margin-bottom: 20px; /* Increased spacing between fields */
  padding: 12px 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); /* Subtle inner shadow */
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-input:focus {
  outline: none;
  border-color: #007bff; /* Highlight color when focused */
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(0,123,255,0.6); /* Outer glow effect */
}

.login-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 20px;
}
